$sm: 544px;
$md: 768px;
$lg: 1024px;
$xl: 1200px;
$xxl: 1440px;

$main-color: #f7ecce;
$primary-color: #f8ac0f;
$secondary-color: #f5f2ec;
$yellow: #fce294;
$black: #000;
$white: #fff;
$gray: #c3c3c3;