.icon {
  display: inline-block;
  width: 1px;
  height: 1px;
  fill: currentColor;
}

.icon-bag-outline {
  font-size:(485.2/10)*1px;
  width:(363.9/485.2)*1px;
}
.icon-bar-menu {
  font-size:(24.4/10)*1px;
  width:(30/24.4)*1px;
}
.icon-right-arrow {
  font-size:(22.1/10)*1px;
  width:(31.5/22.1)*1px;
}
.icon-search-symbol {
  font-size:(30/10)*1px;
  width:(30/30)*1px;
}
